.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 30px 10px;
  width: 500px;
  background-color: white;
  margin-bottom: 30px;

  .basic-form__input-ctn--large {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .basic-form__input-ctn {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .basic-form__input--small {
    align-self: center;
    width: 100px;
  }

  .basic-form__heading {
    font-weight: bold;
    font-size: 30px;
  }

  .basic-form__sub-ctn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  input {
    border: 1px solid rgb(212, 212, 212);
    height: 30px;
    padding: 0px 4px 0px 4px;
  }

  textarea {
    border: 1px solid rgb(212, 212, 212);
    height: 50px;
    width: 100%;
  }

  a {
    text-decoration: underline;
  }

  .basic-form__links {
    padding-top: 30px;
    font-size: 15px;
  }

  .basic-form--success {
    background-color: rgb(209, 245, 209);
    border: 1px solid green;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .basic-form {
    width: 400px;

    .basic-form__heading {
      font-weight: bold;
      font-size: 23px;
    }
  }
}

@media (max-width: 400px) {
  .basic-form {
    width: 280px;
  }
}
