.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 30px 10px;
  width: 500px;
  background-color: white;
  margin-bottom: 30px;

  [type="file"] {
    border: 0;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    position: absolute !important;
    white-space: nowrap;
    width: 85.5px;
    top: 130px;
  }

  .basic-form__input-ctn--large {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .basic-form__heading {
    font-weight: bold;
    font-size: 30px;
  }

  input {
    border: 1px solid rgb(212, 212, 212);
    height: 30px;
    padding: 0px 4px 0px 4px;
  }

  textarea {
    border: 1px solid rgb(212, 212, 212);
    height: 50px;
    width: 100%;
  }

  a {
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .basic-form {
    width: 400px;

    .basic-form__heading {
      font-weight: bold;
      font-size: 23px;
    }
  }
}

@media (max-width: 400px) {
  .basic-form {
    width: 280px;
  }
}
