#app {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: $nav-bar-height 1fr auto;
  grid-template-columns: 100%;
}

#home {
  width: 100%;
  display: grid;
  grid-template-rows: auto 350px 500px 500px 500px;
  grid-template-columns: 100%;
  padding-top: 110px;
}

@media (max-width: 800px) {
  #app {
    grid-template-rows: $nav-bar-height-mobile 1fr auto;
  }
  #home {
    grid-template-rows: auto 250px 400px 400px 400px;
  }
}

@media (max-width: 550px) {
  #home {
    grid-template-rows: auto 150px 300px 300px 300px;
  }
}
