.contact-btn {
  background-color: $sub-accent-color;
  color: white;
  width: 100px;
  padding: 10px;
  margin: 10px;
  border: none;
  align-self: center;
  cursor: pointer;
}

.rounded-btn {
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 3px 2px -2px rgb(99, 99, 99);
  width: 100px;
  text-align: center;
  font-weight: bold;

  cursor: pointer;
}
