.square-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border: 1.5px solid black;
  padding: 5px;
  width: 100px;
  height: 30px;
  margin: 3px;
  &:hover {
    background-color: rgb(221, 221, 221);
  }
}

@media (max-width: 500px) {
  .square-btn {
    padding: 0px;
    width: 70px;
  }
}
