.datetime-picker {
  display: flex;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out;
  justify-content: space-around;
  align-items: center;
  margin: 14px;
  max-width: 500px;
  border: 1px solid black;
  align-self: center;

  input {
    border: none;
    width: 100px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  svg {
    width: 20px;
    padding: 10px;
    cursor: pointer;
  }
  p {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
  }

  .datetime-picker__col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .datetime-picker__dates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }

  .datetime-picker__icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .datetime-picker {
    p {
      font-size: 14px;
    }
    input {
      width: 70px;
      font-size: 13px;
    }
  }
}
