$theme: $sub-accent-color;

.vdatetime-popup {
  width: 280px !important;
  // svg {
  //   color: black !important;
  // }
}

.vdatetime-popup__header {
  background: $theme !important;
  font-family: $main-font !important;
}

.vdatetime-calendar {
  font-family: $main-font !important;
}

.vdatetime-time-picker {
  font-family: $main-font !important;
}

.vdatetime-popup__actions__button {
  color: $theme !important;
  font-family: $main-font !important;
}

.vdatetime-calendar__month__day--selected,
.vdatetime-calendar__month__day {
  color: $theme !important;
}

.vdatetime-time-picker__item .vdatetime-time-picker__item--selected {
  color: $theme !important;
}

.vdatetime-input {
  text-align: left !important;
  color: rgb(95, 93, 93) !important;
}

.vdatetime-calendar__navigation--next {
  color: black;
}

.datetime-picker {
  display: flex;
  flex-direction: column;
  transition: opacity 0.25s ease-in-out;
  align-items: center;
  margin: 14px;
  width: 100%;
  align-self: center;

  input {
    border: none;
    width: 100px;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
  }
  p {
    font-size: 18px;
    margin: 0px;
  }

  .datetime-picker__col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .datetime-picker__dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .datetime-picker__icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .datetime-picker {
    p {
      font-size: 14px;
    }
    input {
      width: 70px;
    }
    .datetime-picker__dates {
      width: 100%;
    }
  }
}
