body {
  // background-image: url("./images/background.jpg");
  background-color: rgb(219, 184, 204);
  //   background-attachment: fixed;
  font-family: $main-font;
  background-size: 100%;
  scroll-padding-top: 50px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

input,
textarea,
button {
  font-family: $main-font;
}

li {
  list-style-type: none;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}

a {
  color: black;
  cursor: pointer;
}

.chevron-left {
  cursor: pointer;
}

.fl {
  display: flex;
}

.fl-cl {
  display: flex;
  flex-direction: column;
}

.fl-cn {
  display: flex;
  justify-content: center;
  width: 100%;
}
