body {
  background-color: $accent-color;
  font-family: $main-font;
  background-size: 100%;
  scroll-padding-top: 50px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

input,
textarea,
button,
select {
  font-family: $main-font;
}

li {
  list-style-type: none;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}

.max-width {
  max-width: 900px;
}
