.add__heading-input {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

textarea {
  width: 200px;
  height: 80px;
}

.add__items-form-ctn {
  display: flex;
  justify-content: space-between;
}

.add__image-ctn {
  width: 120px;
  height: 120px;
  border: 1px solid grey;
  margin-top: 7px;
}

.add__image-thumbnail {
  width: 120px;
  height: 120px;
}

@media (max-width: 400px) {
  .add__image-ctn {
    width: 130px;
    height: 130px;
  }

  .add__image-thumbnail {
    width: 130px;
    height: 130px;
  }
}
