.add__image-thumbnail {
  width: 160px;
  height: 160px;
}

.add__image {
  width: 160px;
}

.add__image-upload {
  border: 0;
  position: absolute;
  overflow: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 95px;
  right: 0px;
}
