.browse__item-thumbnail {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: $image-border-radius;
}

.browse__item {
  width: 200px;
}

@media (max-width: 450px) {
  .browse__item-thumbnail {
    width: 220px;
    height: 220px;
  }

  .browse__item {
    width: 220px;
  }
}
