.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
}

.sub-heading-text {
  color: white;
  text-align: center;
  font-size: 50px;
}

.sec {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-container {
  padding: 20px;
}

.main-text {
  font-weight: bold;
  font-size: 37px;
  text-align: center;
}

.sub-text {
  font-size: 30px;
  text-align: center;
}

img {
  height: 100%;
}

@media (max-width: 800px) {
  .sub-heading-text {
    font-size: 40px;
  }
  .main-text {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }
  .sub-text {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .sub-heading-text {
    font-size: 28px;
  }
  .main-text {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .sub-text {
    font-size: 15px;
    text-align: center;
  }
}
