$item-size: 220px;

.item__thumbnail {
  width: $item-size;
  height: $item-size;
}
@media (max-width: 800px) {
  .item__thumbnail {
    width: 190px;
    height: 190px;
  }
}

@media (max-width: 650px) {
  .item__thumbnail {
    width: 200px;
    height: 200px;
  }
}
