.my-stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.my-stores__stores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  p {
    font-size: 17px;
  }
}

.my-stores__store {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  a {
    color: black;
  }
}
