.my-store-ctn {
  display: flex;
  justify-content: center;
  margin: 20px;
  background: white;
  width: 80%;
  border-radius: 10px;
}

.my-store__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.my-store__item {
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.my-store__item-thumbnail {
  width: 200px;
  height: 200px;
}

.my-store__item-name {
  text-align: left;
  padding: 7px;
}

.my-store__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
