.my-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background: white;
  width: 80%;
  border-radius: 10px;
}

.item {
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.item-thumbnail {
  width: 200px;
  height: 200px;
}

.item-heading {
  text-align: left;
  padding: 7px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
