.stores {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.stores__stores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  p {
    font-size: 17px;
  }
  margin: 20px;
}

.stores__store {
  background: white;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  box-shadow: 0 5px 6px -6px black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  a {
    color: black;
  }
  &:hover {
    transform: scale(1.02);
  }
}
